<div class="row top">
    <div class="arrow">
        <button mat-icon-button (click)="buttonPressed('up')">
            <mat-icon>arrow_upward</mat-icon>
        </button>
    </div>
</div>

<div class="row bottom">
    <div class="arrow">
        <button mat-icon-button (click)="buttonPressed('left')">
            <mat-icon>arrow_backward</mat-icon>
        </button>
    </div>

    <div class="arrow">
        <button mat-icon-button (click)="buttonPressed('down')">
            <mat-icon>arrow_downward</mat-icon>
        </button>
    </div>

    <div class="arrow">
        <button mat-icon-button (click)="buttonPressed('right')">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>